@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Custom Styles */

@layer components {


    /* Fonts (b = bold, n = normal) */
    .text-b-xl {
        @apply font-bold text-6xl text-grey;
    }
    .text-b {
        @apply font-bold text-xl text-grey;
    }
    .text-b_w {
        @apply font-bold text-xl text-white;
    }
    .text-n {
        @apply font-normal text-2xl text-grey;
    }


}


html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
