@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Custom Styles */

@layer components {
    .text-vw-l {
        @apply font-bold text-[2.5vw] text-grey;
    }
    /* Fonts (b = bold, n = normal) */
    .text-b-xl {
        @apply font-bold text-6xl text-grey;
    }
    .text-b-l {
        @apply font-bold text-5xl text-grey;
    }
    .text-b-sl {
        @apply font-bold text-4xl text-grey;
    }
    .text-b-m {
        @apply font-bold text-xl text-grey;
    }
    .text-b-s {
        @apply font-bold text-xl text-grey;
    }
    .text-b-xl_black {
        @apply font-bold text-6xl text-dark-grey;
    }
    .text-b-l_black {
        @apply font-bold text-5xl text-dark-grey;
    }
    .text-b-m_blue {
        @apply font-bold text-xl text-blue-active;
    }
    .text-b-xl_w {
        @apply font-bold text-4xl text-white;
    }
    .text-b-l_w {
        @apply font-bold text-2xl text-white;
    }
    .text-b-m_w {
        @apply font-bold text-xl text-white;
    }
    .text-b-s_w {
        @apply font-bold text-xl text-white;
    }
    .text-sb-l {
        @apply font-semibold text-4xl text-grey;
    }
    .text-sb-m {
        @apply font-semibold text-3xl text-grey;
    }
    .text-sb-s {
        @apply font-semibold text-lg text-light-grey;
    }
    .text-n-xl {
        @apply font-normal text-4xl text-grey;
    }
    .text-n-l {
        @apply font-normal text-2xl text-grey;
    }
    .text-n-m {
        @apply font-normal text-xl text-grey;
    }
    .text-n-s {
        @apply font-normal text-lg text-grey;
    }
}


html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
